@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono:ital,wght@1,500&display=swap'); 

*{
font-family: 'Roboto Mono', monospace;
}
 .tm-icon{

  width: 50px;
  height: 50px;
  padding: 20px;
  }

  .color-rosa{
      color: rgb(255, 255, 255);
  }
  .ft-20{
    font-size: 20px;
  }
  
  #menu li{
  display: inline;
  padding: 100px;
  }
  #menu a{
    text-decoration: rgb(14, 241, 162);
  }
 
  

  
  #menu a li:hover{
    color: blanchedalmond;
  }

  /**/
.logo-receitas{
  font-weight: 600;
  color: aqua;
}
.logo-v{
  font-weight: 600;
  color: aqua;
}
.logo-l{
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .flex-conteiner{
      display: flex;
      justify-content: center;
}

.conteiner{
  display: flex;
  flex-flow:row;
  align-items: center;
  justify-content: space-around;
}

.tm-img{
width: 600px ;
height: 500px 
}
 
.tx-center{
  text-align: center;
}

.subtitle{
  font-weight: 400;
  font-size:24px;
  color: rgb(255, 255, 255);
}

.borda{
  border-radius: 50px;
}










.br-50{
  border-radius: max(20%);
}
/*brenda*/

.dark{
    width: 900px;
    height: 660px;
   


}



.container{
justify-content: center;

}

/*lesley*/

.imagem-tam {
    height: 550px;

}

.sobre {
    background-color: rgb(24, 90, 54);
}

.tam-icon {
    width: 50px;
}

.fundo{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2039a4ce-dce6-4147-b2f2-485bee7c0a58/dbwynjd-b6df1f82-ff61-4ae2-8f65-12b6fa6d3bb2.jpg/v1/fill/w_1024,h_641,q_75,strp/dark_netflix_serie_wallpaper_by_derotsen_dbwynjd-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQxIiwicGF0aCI6IlwvZlwvMjAzOWE0Y2UtZGNlNi00MTQ3LWIyZjItNDg1YmVlN2MwYTU4XC9kYnd5bmpkLWI2ZGYxZjgyLWZmNjEtNGFlMi04ZjY1LTEyYjZmYTZkM2JiMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NKSLlI3YgNgIb4owzZvlq_cinI9JYInDsloNGjxVXpg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    
}

a:link{
    color: green;
}



/*/lesley*/
